{% extends "layout.html" %}
{% set title = "Login" %}

{% block section %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <section>
    <h4>Notification</h4>
    <ul class="alt">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}
{% endwith %}

<section>
  <div class="row">
    <div class="col-6 col-12-small">
      <header class="major">
        <h2>Login</h2>
      </header>
      <p>This is the login for crew members and gives you full access to the page, including live tracking and more.</p>
      <form method="post" action="{{ url_for('login') }}">
        <div class="row gtr-uniform">
          <div class="col-12">
            <input type="email" name="email" id="email" value="" placeholder="Email" />
          </div>
          <!-- Break -->
          <div class="col-12">
            <input type="password" name="password" id="password" value="" placeholder="Password" />
          </div>
          <!-- Break -->
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" value="login" class="primary" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <div class="col-6 col-12-small">
      <header class="major">
        <h2>Sign up</h2>
      </header>
      <p>Become a crew member. Please note that all requests are validated manually.</p>
      <form method="post" action="{{ url_for('signup') }}">
        <div class="row gtr-uniform">
          <div class="col-12">
            <input type="text" name="name" id="name" value="" placeholder="Name" />
          </div>
          <!-- Break -->
          <div class="col-12">
            <input type="email" name="email" id="email" value="" placeholder="Email" />
          </div>
          <!-- Break -->
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" value="sign up" class="primary" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
