{% extends "layout.html" %}
{% set title = relative.title %}

{% block section %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <section>
    <h4>Notification</h4>
    <ul class="alt">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}
{% endwith %}

<!-- Content -->
<section>
  <header class="main">
    <h1>{{ relative.name }} <a href="/relatives/{{ relative.hash }}/edit" class="icon solid fa-edit"><span class="label">Edit</span></a></h1>
  </header>

  <div class="row">
    <div class="col-6 col-12-small">
      <span class="image fit"><img src="/static/images/relatives/family/{{ relative.hash }}.png" alt="" />
      </span>
    </div>

    <div class="col-6 col-12-small">
      <ul class="alt">
        {% if relative.sex %}<li><b>sex:</b> {{ relative.sex }}</li>{% endif %}
        {% if relative.father %}<li><b>father:</b> <a href="/relatives/{{ relative.father }}">{{ get_relative_name(relative.father) }}</a></li>{% endif %}
        {% if relative.mother %}<li><b>mother:</b> <a href="/relatives/{{ relative.mother }}">{{ get_relative_name(relative.mother) }}</a></li>{% endif %}
        {% if relative.spouse %}<li><b>spouse:</b>
          <ul>
            {% for spouse in relative.spouse %}
            <li><a href="/relatives/{{ spouse }}">{{ get_relative_name(spouse) }}</a></li>
            {% endfor %}
          </ul>
        </li>{% endif %}
        {% if relative.children %}<li><b>children:</b>
          <ul>
            {% for child in relative.children %}
            <li><a href="/relatives/{{ child }}">{{ get_relative_name(child) }}</a></li>
            {% endfor %}
          </ul>
        </li>{% endif %}
        {% if relative.birthday %}<li><b>birthday:</b> {{ relative.birthday }}</li>{% endif %}
        {% if relative.birthplace %}<li><b>birthplace:</b> {{ relative.birthplace }}</li>{% endif %}
        {% if relative.weddingDay %}<li><b>wedding day:</b> {{ relative.weddingDay }}</li>{% endif %}
        {% if relative.weddingPlace %}<li><b>wedding place:</b> {{ relative.weddingPlace }}</li>{% endif %}
        {% if relative.dayOfDeath %}<li><b>day of death:</b> {{ relative.dayOfDeath }}</li>{% endif %}
        {% if relative.placeOfDeath %}<li><b>place of death:</b> {{ relative.placeOfDeath }}</li>{% endif %}
        {% if relative.profession %}<li><b>profession:</b> {{ relative.profession }}</li>{% endif %}
      </ul>

      {{ relative.body | safe }}
    </div>
  </div>
</section>
{% endblock %}
