{% extends "layout.html" %}
{% set title = "Search Result" %}

{% block section %}
<!-- Content -->
<section>
  <header class="major">
    <h2>Search result for "{{ query }}" ({{ relatives|length }})</h2>
  </header>

  <div class="posts">
    {% for relative in relatives %}
    <article>
      <a href="/relatives/{{ relative.hash }}" class="image">
        <img src="/static/images/relatives/{{ relative.image }}" alt="" />
        <div class="badge">
          {% if relative.dayOfDeath %}
          {{ relative.birthday }} - {{ relative.dayOfDeath }}
          {% else %}
          {{ relative.birthday }}
          {% endif %}
        </div>
      </a>
      <h3>{{ relative.name }}</h3>
      <p>{{ relative.profession | truncate(200, killwords=False, end='...') }}</p>
    </article>
    {% endfor %}
  </div>
</section>
{% endblock %}
